body, label, textarea, table, option, select, input, button {            
    font-family: Verdana;   
                     
}
body{
    height:100%;
}
.wholesalerGrid, .retailerGrid, .CashBookGrid, .productGrid,.wholesalerGridDashBoard, .retailerGridDashBoard, .CashBookGridDashBoard, .transactionGrid {           
    height: 500px;
    font-size:12px;   
}
 
.company-title{
    margin-top:0px;
}        
.page-header {
    margin:0px;
}
.header-section {
    color:purple;
}
.container-full
{
    margin: 0 auto;
    width: 100%;
}

.navbar-inverse {
    background-color: #0067B8;
    border-color: #0067B8;
    color:white !important;
}
.navbar-brand{
    color:white !important;
}
.navbar-inverse .navbar-nav > li > a{
    color:white !important;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{
    color:lightgray !important;
}
.logoSize {
    height: 48px;
    width: 84px;
    margin: 0px;
    padding: 0px;       
}
