<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="DatabaseConnectionString" value="Data Source=ST\SQLEXPRESS;Initial Catalog=FruitsRetailer;Persist Security Info=False;Integrated Security=SSPI;User ID=ST\Tonu;" />
    <!--<add key="DatabaseConnectionString" value="Data Source=tcp:orqdwhiczh.database.windows.net,1433;Initial Catalog=fruitsretailer_db;User Id=retailer@orqdwhiczh;Password=$hUvro?$P03" />-->
  <!--<add key="DatabaseConnectionString" value="Data Source=dha11dssqlx64;Initial Catalog=TestDatabase;Persist Security Info=True;User ID=dellshare;Password=dellshare" />-->
  <add key="CompanyName" value="মেসার্স নাহার ট্রেডার্স" />
  <add key="CompanySlogan" value="যাবতীয় দেশী-বিদেশী কাচাঁ পাকা ফলের আড়ৎ ও কমিশন এজেন্ট" />
  <add key="CompanyProprietor" value="প্রোঃ মোঃ কামরুল ইসলাম" />
  <add key="CompanyAddress" value="১৬/এ, আহসান উল্লাহ রোড, বাদামতলী, মদিনা মার্কেট, ঢাকা-১১০০" />
  <add key="GodName" value="বিসমিল্লহির রাহমানির রাহিম" />
  <add key="ProprietorContactNumber" value="০১৭১৫-২৯৭৯০৩,০১৯৭৫-২৯৭৯০৩,০১৯১৬-০৪৭৩৬৮" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <remove value="default.aspx" />
                <remove value="iisstart.htm" />
                <remove value="index.html" />
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
                <add value="home.html" />
            </files>
        </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>