<div class="page-header" style="text-align:center;"><h2>{{vm.PageTitle}}</h2></div>
<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="control-label col-sm-2" for="name">Name:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" placeholder="Enter name" ng-model="vm.Wholesaler.Name">
            <div class="alert alert-warning fade in" ng-hide="!vm.IsNameEmpty">Please enter a name</div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="acn">Account Number:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="acn" placeholder="Enter account number" ng-model="vm.Wholesaler.AccountNumber" ng-disabled="vm.EditMode">
            <div class="alert alert-warning fade in" ng-hide="!vm.IsAcNumberEmpty">{{vm.AccountNumInfo}}</div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="addr">Address:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="addr" placeholder="Enter address"  ng-model="vm.Wholesaler.Address">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-sm btn-success" data-ng-click="vm.SaveNewWholesaler()">Submit</button>
            <button type="button" class="btn btn-sm btn-danger" data-ng-click="vm.GoBackToWholesalerList()">Cancel</button>
        </div>
    </div>
</form>
