<div class="page-header" style="text-align:center;"><h1>{{vm.PageTitle}}</h1></div>
<form class="form-horizontal" role="form">       
    <div class="form-group">
        <label class="control-label col-sm-2" for="acn">Account Number:</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" required id="acn" placeholder="Enter account number" data-ng-model="vm.Customer.AccountNumber" disabled>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="ptype">Product Type:</label>
        <div id ="ptype" class="col-sm-10">
            <select class="form-control" style="max-width:200px" ng-model="vm.SelectedItem" ng-options="item as item.Name for item in vm.Transaction.ProductList track by item.Id" ng-disabled="vm.EditMode">                
            </select>
            <div class="alert alert-warning fade in" ng-hide="!vm.IsCodeEmpty">{{vm.CodeInfo}}</div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="quan">Quantity:</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" required id="quan" placeholder="Enter quantity" data-ng-model="vm.Transaction.Quantity">
            <div class="alert alert-warning fade in" ng-hide="!vm.IsQuantityEmpty">{{vm.QuantityInfo}}</div>
            <div class="alert alert-warning fade in" ng-hide="!vm.HasStockInfo">{{vm.StockInfo}}</div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="rate">Rate:</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" required id="rate" placeholder="Enter rate" data-ng-model="vm.Transaction.Rate">
            <div class="alert alert-warning fade in" ng-hide="!vm.IsRateEmpty">{{vm.RateInfo}}</div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="payment">{{vm.PaymentTitle}}:</label>
        <div class="col-sm-10">
            <label id="payment" ><input type="checkbox" name="checkbox" data-ng-model="vm.IsPaymentEnable"> {{vm.PaymentTitle}} Now?</label>
            <input type="number" class="form-control" data-ng-hide="!vm.IsPaymentEnable" data-ng-model="vm.Transaction.AmountReceived" placeholder="Amount"/>
            <div class="alert alert-warning fade in" ng-hide="!vm.IsAmountReceivedEmpty">{{vm.AmountReceivedInfo}}</div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="carryingCost">Discount:</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="carryingCost" placeholder="Discount amount, if any" data-ng-model="vm.Transaction.OthersCost">
            <div class="alert alert-warning fade in" ng-hide="!vm.IsOthersCostEmpty">{{vm.OthersCostInfo}}</div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="date">Date:</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" required id="date" style="max-width:200px" data-ng-model="vm.Transaction.TransactionDate" >
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="description">Description:</label>
        <div class="col-sm-10">            
            <textarea class="form-control" id="description" data-ng-model="vm.Transaction.ProductDescription"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-sm btn-primary" data-ng-click="vm.SaveTransaction()">Submit</button>
            <button type="button" class="btn btn-sm btn-warning" data-ng-click="vm.GoBackToPurchaseList()">Cancel</button>
        </div>
    </div>
</form>
