<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://fruitsretailer.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>fruitsretailer.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>fruitsretailer</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$fruitsretailer</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FruitsRetailer.Server.DataAccess.FruitsDataContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:orqdwhiczh.database.windows.net,1433;Initial Catalog=fruitsretailer_db;User ID=retailer@orqdwhiczh;Password=$hUvro?$P03" Name="Data Source=tcp:orqdwhiczh.database.windows.net,1433;Initial Catalog=fruitsretailer_db;User Id=retailer@orqdwhiczh;Password=$hUvro?$P03" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FruitsRetailer.Server.DataAccess.FruitsDataContext, FruitsRetailer" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FruitsRetailer.Server.DataAccess.FruitsDataContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:orqdwhiczh.database.windows.net,1433;Initial Catalog=fruitsretailer_db;User Id=retailer@orqdwhiczh;Password=$hUvro?$P03</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="FruitsRetailer.Server.DataAccess.FruitsDataContext" />
  </ItemGroup>
</Project>